# Игнорировать каталог с зависимостями Composer
/vendor/

# Игнорировать файлы конфигурации
/config/*.config

# Игнорировать локальные файлы среды разработки
.env

# Игнорировать кэш-файлы
/cache/

/config/routes.php
