@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Tektur:regular,500,600,700,800,900);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f0f0;
  color: #212529;
  font-family: Raleway, sans-serif;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  background: #fff8f0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #b09361;
}
a:hover {
  color: #49729c;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 10px 20px;
  background: #212529;
  color: #f0f0f0;
  font-family: Tektur, sans-serif;
}
@media screen and (max-width: 992px) {
  .header h1 {
    position: relative;
    font-size: 1.3rem;
  }
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-logo:hover img {
  filter: invert(35%) sepia(6%) saturate(1071%) hue-rotate(180deg) brightness(70%) contrast(60%);
}
.header-logo img {
  max-width: 100%;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}
.header-navigation {
  display: flex;
  justify-content: space-between;
  width: 75%;
}
@media screen and (max-width: 768px) {
  .header-navigation {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.header-navigation.is-active {
  transform: translateX(0);
}
@media screen and (max-width: 768px) {
  .header-navigation {
    transform: translateX(100%);
    transition: transform 0.7s ease-in-out;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    background: #f0f0f0;
    border-left: 2px solid #212529;
    border-right: 2px solid #212529;
    height: calc(100vh - 60px);
    margin-top: 60px;
  }
}
.header-nav {
  display: flex;
  list-style: none;
  font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
  .header-nav {
    align-items: flex-end;
    width: 100%;
    flex-direction: column;
    margin: 30px 0 0 0;
  }
}
.header-nav li {
  margin: 0 20px;
}
@media screen and (max-width: 992px) {
  .header-nav li {
    margin: 0 10px;
  }
}
@media screen and (max-width: 768px) {
  .header-nav li {
    margin: 15px 20px 0 0;
    border-bottom: 2px solid #b09361;
  }
}

.enter {
  align-self: center;
}
@media screen and (max-width: 768px) {
  .enter {
    align-self: flex-end;
    margin: 0 20px 30px 0;
  }
}

.hamburger {
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    width: 35px;
    height: 25px;
    margin: 15px 20px 0 0;
    padding: 3px;
    cursor: pointer;
  }
}
.hamburger-line {
  height: 3px;
  width: 100%;
  background: #705322;
  transition: all 0.3s ease-in-out;
}
.hamburger-line:not(:last-child) {
  margin-bottom: 5px;
}

.hamburger.is-active {
  transform: rotate(-90deg);
}

.hamburger.is-active .hamburger-line:nth-child(1) {
  transform: translateY(15px) rotate(45deg);
  width: 22px;
}

.hamburger.is-active .hamburger-line:nth-child(3) {
  transform: translateY(-15px) rotate(-45deg);
  width: 22px;
}

.hamburger.is-active .hamburger-line:nth-child(2) {
  transition: none;
}

.hamburger .hamburger-line:nth-child(2) {
  transition-delay: 0.3s;
}

.hamburger.is-active .hamburger-line:nth-child(2) {
  opacity: 0;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
}

.main-page {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .main-page {
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
}

.swiper {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 962px) {
  .swiper {
    min-width: 40%;
  }
}
@media screen and (max-width: 768px) {
  .swiper {
    max-height: 20%;
  }
}
@media screen and (max-width: 640px) {
  .swiper {
    max-height: 17%;
  }
}
.swiper-slide {
  width: 100%;
}
.swiper-slide img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .swiper-slide img {
    -o-object-position: center -190px;
       object-position: center -190px;
  }
}
@media screen and (max-width: 640px) {
  .swiper-slide img {
    -o-object-position: center -75px;
       object-position: center -75px;
  }
}
@media screen and (max-width: 374px) {
  .swiper-slide img {
    -o-object-position: center -85px;
       object-position: center -85px;
  }
}

.info {
  padding-left: 20px;
}
@media screen and (max-width: 768px) {
  .info {
    padding-left: 0;
    margin-top: 20px;
  }
}
.info p {
  margin-bottom: 10px;
  line-height: 130%;
}
.info p a {
  color: #705322;
  text-decoration: underline;
  font-weight: bold;
}
.info p a:hover {
  color: #49729c;
}
.info p span {
  padding: 1px 5px;
  background: #ffdb8b;
}

.main-page.pte {
  gap: 20px;
}

.selector {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 20px;
  background: #f0f0f0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
@media screen and (max-width: 1380px) {
  .selector {
    padding-bottom: 50px;
  }
}
.selector p {
  text-align: justify;
}
.selector img {
  max-width: 300px;
  padding: 5px;
}
.selector a {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  z-index: 1;
  color: #705322;
  font-weight: 500;
  min-height: 100%;
  width: 100%;
  padding: 20px;
  font-size: 1.3rem;
}
@media screen and (max-width: 1380px) {
  .selector a {
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
  }
}
.selector a:hover {
  color: #49729c;
}

.contacts {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px 20px;
}
.contacts input {
  padding: 5px;
  margin: 5px 0;
}

.message {
  padding: 5px;
}

.footer {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 10px 20px;
  background: #212529;
  color: #f0f0f0;
}/*# sourceMappingURL=style.css.map */